@charset "UTF-8";

#unloggedBtns{
	display: flex;
}

#loginBtn{
	background-color: #DE4646;
    color: #FEF7FA;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 7px;
}

#registerBtn{
	background-color: #F7F7F7;
    color: #0f0f0f;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 7px;
}

#freeBoard, #infoBoard, #qnaBoard{
	width:80%;
	padding-right:.75rem;
	padding-left:.75rem;
	margin-right:auto;
	margin-left:30px;
}